<form
  action="/curador/formulario"
  class="needs-validation"
  method="post"
  novalidate
  th:fragment="form-curador"
  th:object="${user}"
>
  <div class="mt-5 row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm border-0 rounded-0 bg-light">
        <div class="card-body">
          <!-- error messages -->
          <div
            class="alert alert-danger alert-dismissible fade show"
            th:if="${#fields.hasErrors('*')}"
          >
            <ul class="list-group">
              <li
                class="lista-erros"
                th:each="err : ${#fields.errors('*')}"
                th:utext="${err}"
              >
                <span class="badge badge-primary badge-pill">14</span>
              </li>
            </ul>
            <button
              aria-label="Close"
              class="close"
              data-dismiss="alert"
              type="button">
      <span aria-hidden="true"
      >
        <i class="fas fa-times"></i>
      </span>
            </button>
          </div>

          <!-- hidden id -->
          <input hidden th:field="${user.id}">

          <!-- fields name and role -->
          <div class="row">
            <div class="col-md-7 mb-3">
              <label for="inputNome">Nome</label>
              <input
                class="form-control"
                required
                th:field="*{name}"
                type="text"
              >
              <div class="invalid-feedback">
                Por favor, informe o nome.
              </div>
            </div>
            <div class="col-md-5 mb-3">
              <label for="selectCargos">Cargo</label>
              <select
                class="custom-select d-block w-100"
                id="selectCargos"
                name="role"
                required
              >
                <option value="">Selecionar</option>
                <option
                  th:each="role : ${roles}"
                  th:selected="${user.role == role.name}"
                  th:value="${role.name}"
                >
                  <span th:text="${role.name}"></span>
                </option>
              </select>
              <div class="invalid-feedback">
                Por favor, selecione o cargo do curador.
              </div>
            </div>
          </div>

          <!-- field email -->
          <div class="row">
            <div class="col-md-12 mb-3">
              <label for="inputEmail">E-mail</label>
              <div class="input-group">
                <div class="input-group-prepend">
          <span
            class="input-group-text"
            id="inputEmail"
          >
            <i class="fas fa-envelope"></i>
          </span>
                </div>
                <input
                  aria-describedby="inputEmail"
                  class="form-control"
                  name="email"
                  required
                  th:field="*{email}"
                  type="email"
                >
                <div class="invalid-feedback">
                  Por favor, digite um email valido.
                </div>
              </div>
            </div>
          </div>

          <!-- field email (if it has error) -->
          <div class="row">
            <div class="col-md-12 mb-3">
              <div
                class="alert alert-warning alert-dismissible fade show"
                th:if="${#fields.hasErrors('email')}"
              >
                <label th:uerrors="*{email}"></label>
                <button
                  aria-label="Close"
                  class="close"
                  data-dismiss="alert"
                  type="button"
                >
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
                </button>
              </div>
            </div>
          </div>

          <hr class="mb-4">

          <button class="btn btn-primary btn-lg btn-block" type="submit">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</form>
