<!DOCTYPE html>
<html lang="pt-br">
    <!-- importando head -->
    <head th:replace="~{fragments/head :: head(~{::title},~{::link})}">
        <title>Gerenciar | Cantos</title>
        <link th:replace="~{fragments/css :: gerenciamento-css}"/>
    </head>
    <body>
        <!--  navbar com iconte de gerenciamento ativo -->
        <nav th:replace="~{fragments/navbar :: navbar (gerenciamento='true')}"></nav>
        <div class="container-fluid">
            <div class="row">
                <!-- lado esquedo - sidebar canto -->
                <nav th:replace="~{fragments/sidebars/sidebar-canto :: sidebar-canto (index='true')}"></nav>
                <!-- lado direito - listar cantos -->
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <!-- alerta de sucesso na atualizacao -->
                    <div th:replace="~{fragments/alerts/alertas-canto :: atualizado}"></div>
                    <!-- alerta de sucesso na remocao -->
                    <div th:replace="~{fragments/alerts/alertas-canto :: removeu}"></div>
                    <!-- tabela de cantos -->
                    <table th:replace="~{fragments/tabelas/table-cantos :: table-cantos}"></table>
                </main><!-- fim do lado direito - listagem dos cantos -->
            </div>
        </div>
        <div th:replace="~{fragments/modals/modal-remover-canto :: modal-canto}"></div>
        <script th:replace="~{fragments/javascript :: essentials-javascript}"></script>
        <script th:replace="~{fragments/javascript :: gerenciamento-javascript}"></script>
    </body>
</html>