<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::title}, ~{}, ~{::section}, ~{}, ~{})}">
    <head>
        <title>Brinquedoteca</title>
    </head>
    <body>
        <section>
            <div class="container marketing">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-center">
                            Brinquedoteca
                        </h2>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>