<nav 
    class="navbar navbar-expand-md shadow-sm navbar-light fixed-top bg-light" 
    th:fragment="navbar">
        <a class="navbar-brand" th:href="@{/}">
            <i class="fab fa-fort-awesome"></i>
            Brinquedoteca
        </a>
    
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbar"
            aria-expanded="false"
            aria-label="Altenar navbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div
        class="collapse navbar-collapse"
        id="navbar">
        
        <!-- Lado esquerdo do navbar -->
        <ul class="navbar-nav mr-auto">            
            <a
                class="nav-item nav-link"
                th:classappend="${home}"
                th:href="@{/}">
                <i class="fas fa-home"></i>
                Home <span th:if="${home}" class="sr-only">(current)</span>
            </a>       
        </ul>

        <!-- Lado direito do navbar -->
        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a
                    class="nav-item nav-link"
                    th:classappend="${contato}"
                    th:href="@{/contato}">
                    <i class="fas fa-envelope"></i>
                    Contato <span th:if="${contato}" class="sr-only">(current)</span>
                </a>
            </li>

            <!-- dropdown gerenciamento -->
            <li 
                sec:authorize="isAuthenticated()"
                class="nav-item dropdown"
                th:classappend="${user}"
                th:object="${#authentication.principal}">
                <button class="nav-link dropdown-toggle btn btn-link"
                        id="navbarDropdown" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" v-pre>
                    <i class="fas fa-user-circle"></i>
                    <span th:text="*{apelido}"></span>
                    <span class="caret"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item"
                       th:href="@{/user}">
                        <i class="fas fa-user-cog"></i>
                        Conta
                    </a>
                    <div class="d-none d-sm-block dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/edificios(page=${0}, size=${10})}">
                        <i class="fas fa-city"></i>
                        Gerenciar edifcios
                    </a>
                    <a class="dropdown-item" th:href="@{/alunos(page=${0}, size=${10})}">
                        <i class="fas fa-user-graduate"></i>
                        Gerenciar alunos
                    </a>
                    <div class="d-none d-sm-block dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/logout}">
                        <i class="fas fa-sign-out-alt"></i>
                        sair
                    </a>
                </div>
            </li><!-- /Fim do dropdown gerenciamento -->

        </ul><!-- /Fim do lado direito do navbar -->
    </div>
</nav><!-- /Fim da navbar -->
