<div th:fragment="cadastro" th:if="${cadastro}" class="alert alert-success alert-dismissible fade show" role="alert">
    <small>Canto <strong><span th:text="${cadastro.nome}"></span></strong> cadastrado com sucesso!</small>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">
            <i class="fas fa-times"></i>
        </span>
    </button>
</div>

<div th:fragment="removeu" th:if="${removeu}" class="alert alert-danger alert-dismissible fade show" role="alert">
    <small>
        Curador
        <strong>
            <span th:text="${removeu.nome + ' ' + removeu.sobrenome}"></span>
        </strong>
        removido com sucesso!
    </small>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">
            <i class="fas fa-times"></i>
        </span>
    </button>
</div>

<div th:fragment="atualizado" th:if="${atualizado}" class="alert alert-warning alert-dismissible fade show" role="alert">
    <small>Curador <strong><span th:text="${atualizado.nome}"></span></strong> atualizado com sucesso!</small>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">
            <i class="fas fa-times"></i>
        </span>
    </button>
</div>

<div th:fragment="erro" th:if="${erro}" class="alert alert-danger alert-dismissible fade show" role="alert">
    <small>
        Erro:
        <strong>
            <span th:text="${erro.nome}"></span>
        </strong>
    </small>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">
            <i class="fas fa-times"></i>
        </span>
    </button>
</div>
