/*
Version : 11/07/2018, 03:01:53
Author  : Renato henique Horacio dos Santos.

Documento de estilo global.
Esse estilo é usado por todas as paginas do sistema.
*/

@font-face {
    font-family: Poppins;
    src: url(/font/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-Bold;
    src: url(/font/Poppins-Bold.ttf);
}

.img-obj {
    max-height: 100px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    min-height: 25rem;
    padding-top: 4.5rem;

    /* Margin bottom by footer height */
    margin-bottom: 5rem;

    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

.objetos {
    height: 100%;
}

.noty {
    color: #7F7EFF;
    box-shadow: 0px 4px 3px rgba(0,0,0,0.4),
        0px 8px 13px rgba(0,0,0,0.1);
}

.noty_body {
    box-shadow: 0px 4px 3px rgba(0,0,0,0.4),
        0px 8px 13px rgba(0,0,0,0.1);
}

.conta {
    padding: 15pt;
}

/* navbar */
.navbar {
    box-shadow: 0px 4px 3px rgba(0,0,0,0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.erro { text-shadow: 50px 50px 50px rgb(255, 255, 255); }
.erro-titulo { font-size: 220pt; }
.erro-texto { font-size: 30pt; }

.footer {
    z-index: 10;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

/* Icones de Negrito e Titulo para o editor de markdown.
-------------------------------------------------- */
.icone-negrito {}
.icone-negrito:after {
    content: "N";
    font-weight: 800;
    font-size: 13pt;
}

.icone-titulo {}
.icone-titulo:after {
    content: "T";
    font-weight: 600;
    font-size: 13pt;
}

.espaco {
    margin-top: 20pt;
}

.lista-ajuda {
    height: 100%;
}

.background-roxo {
    background-image: linear-gradient(-90deg, #7386D5, #8079ad);
}

.background-azul {
    background-image: linear-gradient(#609eff, #4374c1);
}

.background-lista {
    background: linear-gradient(45deg, #287eff 1%,#4374c1 100%);
}

.nome-objeto {
    color: #7386D5;
}

.text-shadown {
    color: #ffffff;
    font-size: 6vw;
    font-family: Poppins-Bold;
    text-shadow: 0 1px 0 #ccc, 
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.1),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);
}

.text-shadown-tutorial {
    padding-top: 50px;
    text-align: center;
    margin-top: 5pt;
    color: #fafafa;
    font-size: 2vw;
    font-weight: 800;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
        0px 8px 13px rgba(0,0,0,0.1),
        0px 18px 23px rgba(0,0,0,0.1)
}

.titulo-canto {
    text-align: center;
    color: #ffffff;
    font-weight: 800;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
        0px 8px 13px rgba(0,0,0,0.1),
        0px 18px 23px rgba(0,0,0,0.1)
}

